.main{
    max-width: 450px !important;
    /* width: 100; */
    margin: 50px auto;
    border-radius: 10px;
    border: 2px solid rgb(102, 177, 247);
    box-shadow: 1px 1px 6px 7px #b4d6ee;
    padding: 60px 40px;
    background-color: rgba(106, 176, 241, 0.425);

}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    color: rgb(18, 55, 107);
}