.main{
    background-image: url("./image/istockphoto-1146368775-1024x1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 20px;
    color: rgb(18, 55, 107);
}